.circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.filling {
  background-color:#E90516;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
    transition: 
    width 0.3s ease,
    height 0.3s ease,
    border-radius 0.3s ease;
}

.reading {
width: 15px;
height: 15px;
background: #E90516;
border-radius: 3px;
}

.title {
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #F9F9F9;
margin: 0;
align-self: flex-start !important;
}

.cover {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
max-width: 146px;
}

.image {
width: 137px;
height: 208px;
border-radius: 8px;
}

.bookTitle {
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #F9F9F9;
margin-bottom: 0;
}

.author {
font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #686868;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.time {
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #686868;

}

@media (min-width: 768px) {
.title {
font-size: 28px;
line-height: 32px;
margin-top: 0;
}

.cover {
  max-width: 340px;
}

.image {
  width: 169px;
  height: 256px;
}

.bookTitle {
font-size: 20px;
line-height: 20px;
margin-top: 25px;
}

.author {
font-size: 14px;
line-height: 18px;
}

.circle {
  width: 50px;
  height: 50px;
}

.filling {
  width: 38px;
  height: 38px;
}

.reading {
  width: 20px;
  height: 20px;
}

}

@media (min-width: 1440px) {
      .title {
font-size: 28px;
line-height: 32px;
margin-top: 0;
}

.cover {
  max-width: 340px;
}

.image {
  width: 224px;
  height: 340px;
}

.bookTitle {
font-size: 20px;
line-height: 20px;
margin-top: 25px;
}

.author {
font-size: 14px;
line-height: 18px;
}

.circle {
  width: 50px;
  height: 50px;
}

.reading {
  width: 20px;
  height: 20px;
}
}