.circle {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.filling {
  background-color:#E90516;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
    transition: 
    width 0.3s ease,
    height 0.3s ease,
    border-radius 0.3s ease;
}

.reading {
width: 15px;
height: 15px;
background: #E90516;
border-radius: 3px;
}

.title {
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: -2%;
color: #F9F9F9;
margin-bottom: 20px;
align-self: flex-start !important;
}

.cover {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0 auto;
max-width: 146px;
}

.image {
width: 137px;
height: 208px;
border-radius: 8px;
}

.bookTitle {
font-weight: 700;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #F9F9F9;
margin-bottom: 0;
}

.author {
font-weight: 500;
font-size: 10px;
line-height: 12px;
color: #686868;
}

