.container {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
}

.title {
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: -2%;
color: #f9f9f9;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:22px;
}

.pagination {
  display: flex;
  gap: 8px;
  
}

.arrow {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.arrow:disabled {
  opacity: 0.4;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 21px;

    padding: 0;
}

img {
    border-radius: 6px;
}

.bookButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookInfo {
    margin-top: 8px;
}

.bookTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #f9f9f9;
    margin: 0;
}

.bookAuthor {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -2%;
    color: #686868;
    margin-top: 2px;
    margin-bottom: 0;
}