.container {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
    width: 100%;
  align-self: stretch;
}

.loader {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.window {
  width: min(335px, 100%);
  margin: 0 auto;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 40px 20px;
  height: 382px;
  position: relative;
}

.itemsLoading {
  opacity: 0;
  pointer-events: none;
}

.title {
font-weight: 700;
font-size: 20px;
line-height: 20px;
letter-spacing: -2%;
color: #f9f9f9;
margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:22px;
}

.pagination {
  display: flex;
  gap: 8px;
  
}

.arrow {
    width: 32px;
    height: 32px;
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.arrow:disabled {
  opacity: 0.4;
}

.items {
    display: flex;
    flex-direction: row;
    gap: 21px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bookInfo {
    width: 137px;
}

img {
    border-radius: 6px;
}

.bookButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookInfo {
    margin-top: 8px;
}

.bookTitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -2%;
    color: #f9f9f9;
    margin: 0;
    display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; 
  overflow: hidden;
  line-height: 1.2;     
  max-height: 1.2em;
}

.bookAuthor {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -2%;
    color: #686868;
    margin-top: 2px;
    margin-bottom: 0;
}

@media (min-width: 768px) {
  .container {
    padding: 20px 16px;
    padding-top: 0;
  }

  .title {
font-weight: 700;
font-style: Bold;
font-size: 28px;
line-height: 32px;
letter-spacing: 2%;
  }

  .window {
    width: 100%;
    min-width: 704px;
    max-width: 704px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 663px;
  }

  .top {
    margin: 0;
    align-self: stretch;
      width: 100%;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 27px;
    column-gap: 29px;
  }
}

@media (min-width: 1440px) {
  .window {
    width: 100%;
    min-width: 857px;
    max-width: 857px;
    height: 651px;
    padding-bottom: 28px;
  }

  .container {
    padding: 0;
  }

  .items {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  }
}