.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.loader {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
}

.window {
  width: min(335px, 100%);
  margin: 0 auto;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 40px 20px;
  height: 382px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.itemsLoading {
  opacity: 0;
  pointer-events: none;
}

.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  gap: 8px;
}

.arrow {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 50%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow:disabled {
  opacity: 0.4;
}

.items {
  display: flex;
  flex-direction: row;
  gap: 21px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 21px) / 2);
  max-width: 137px;
}

.bookInfo {
  width: 137px;
}

img {
  border-radius: 6px;
  width: 100%;
  height: 208px;
  display: block;
}

.bookButton {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bookInfo {
  margin-top: 8px;
  width: 100%;
}

.bookTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.2;
  max-height: 1.2em;
}

.bookAuthor {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -2%;
  color: #686868;
  margin-top: 2px;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  background: #14141499;
  inset: 0;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  z-index: 1000;
  padding: 16px;
  width: 100%;
  max-width: 335px;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  height: 421px;
}

.modalImage {
  width: 140px;
  height: 213px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.modalContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookTitleModal {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin: 0;
  line-height: 1.2;
  max-height: 1.2em;
  overflow: hidden;
}

.pages {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -2%;
  text-align: center;
  color: #f9f9f9;
  margin-top: 4px;
}

.addBookButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  background: transparent;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  color: #f9f9f9;
  margin-top: 20px;
}

.windowLibrary {
  width: 295px;
  height: 244px;
  background: #262626;
  border-radius: 12px;
  padding: 20px;
}

.topLibrary {
  margin-bottom: 0;
}

.itemsLibrary {
  display: flex;
  justify-content: space-between;
  gap: 0;
  margin-top: 12px;
}

.itemLibrary {
  width: 100%;
  max-width: 71px;
}

.itemLibrary .bookInfo {
  width: 100%;
  max-width: 71px;
}

.itemLibrary .bookButton img {
  height: 107px;
  width: 71px;
  max-width: none;
  object-fit: cover;
}

@media (min-width: 768px) {
  .container {
    /* padding: 20px 16px; */
    padding-top: 0;
  }

  .itemsLibrary {
    grid-template-columns: repeat(3, 1fr);
    overflow: visible;
  }

  .window.windowLibrary {
    width: 313px;
    min-width: 313px;
    max-width: 313px;
    height: 272px;
    padding: 20px;
    align-items: stretch;
    background: #262626;
    border-radius: 12px;
  }

  .title {
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 2%;
  }

  .window {
    width: 100%;
    min-width: 704px;
    max-width: 704px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 663px;
  }

  .error {
    color: #ff0000;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }

  .top {
    margin: 0;
    align-self: stretch;
    width: 100%;
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 27px;
    column-gap: 29px;
  }

  .item {
    width: 137px;
  }

  img {
    width: 137px;
    height: 208px;
  }

  .modal {
    padding: 50px;
    padding-top: 25px;
    max-width: 500px;
    height: 483px;
  }

  .modalImage {
    width: 153px;
    height: 233px;
  }

  .addBookButton {
    margin-top: 32px;
  }
}

@media (min-width: 1440px) {
  .window {
    width: 100%;
    min-width: 857px;
    max-width: 857px;
    height: 651px;
    padding-bottom: 28px;
  }

  .window.windowLibrary {
    width: 295px;
    min-width: 295px;
    max-width: 295px;
    height: 269px;
    padding: 20px;
    align-items: stretch;
    background: #262626;
    border-radius: 12px;
  }

  .itemsLibrary {
    margin-top: 20px;
    overflow: visible;
  }

  .container {
    padding: 0;
  }

  .items {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  }
}
