.form {
  display: flex !important;
  flex-direction: column;
  align-items: start;
  gap: 8px;
 width: 295px;
  margin-bottom: 20px;
  margin-top: 8px;
}

.span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #f9f9f9;
  margin-left: 8px;
}

.input {
  width: 100%;
  height: 44px;
  background: #262626;
  border-radius: 12px;
  border: 1px solid transparent;

  padding: 14px;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.inputAuthor {
  padding-left: 80px;
}

.inputTitle {
  padding-left: 70px;
}

.inputPages {
    padding-left: 115px;
}

.field {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  left: 14px;
  top: 14px;
  pointer-events: none;
  transition: 0.15s ease;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #686868;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.input:focus {
  background: #262626;
}

.input:hover {
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.button {
  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 29px;
  width: 98px;
  height: 38px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-top: 13px;
  white-space: nowrap;
}

.backdrop {
  position: fixed;
  background: #14141499;
  inset: 0;
  z-index: 1;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  z-index: 1000;
  padding: 16px;
  width: 100%;
  max-width: 335px;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  height: 272px;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emojii {
font-weight: 500;
font-size: 50px;
line-height: 50px;
letter-spacing: -2%;

}

.title {
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 18px;
letter-spacing: -2%;
text-align: center;
color: #f9f9f9;
}

.text {
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
text-align: center;
color: #686868;
width: 252px;
margin: 0;
}

.spanText {
  color: #f9f9f9;
}

@media (min-width: 768px) {
.button {
    margin-top: 38px;
}

.span {
font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
}

.modal {
  max-width: 342px;
  height: 290px;
}

.emojii {
font-size: 68px;
line-height: 70px;
}

.title {
font-size: 20px;
line-height: 20px;
margin-bottom: 12px;
}

}

@media (min-width: 1440px) {
.dashboard {
    margin-top: 20px;
  }

  .button {
    margin-top: 20px;
  }
}