.window {
    display: flex;
    justify-content: center;
      width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px 40px 0;
  height: 351px;
  overflow-y: hidden;
}