.container {
      display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: stretch;
}


.windowBook {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: stretch;
}

.title {
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #F9F9F9;
}

.text {
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #686868;
}

.circle {
  margin: 20px auto 0;
width: 80px;
height: 80px;
background: #262626;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.emojiiStar {
font-weight: 500;
font-size: 32px;
line-height: 32px;
line-height: 1;
transform: translateY(2px);
}

.backdrop {
  position: fixed;
  background: #14141499;
  inset: 0;
    z-index: 2147483647;

}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  z-index: 2147483647;
  width: 100%;
  max-width: 335px;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.modalContent {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 242px;
}

.emojii {
font-weight: 500;
font-size: 50px;
line-height: 50px;
}

.titleModal {
font-weight: 700;
font-size: 18px;
line-height: 18px;
text-align: center;
color: #F9F9F9;
margin-bottom: 0;
}

.textModal {
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;
color: #686868;
margin-top: 8px;
}

.span {
  color: #F9F9F9;
}

@media (min-width: 768px) {
    .window {
    max-width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 32px;
    height: 336px;
    gap: 40px;
  }

      .windowBook {
    max-width: 704px;
    padding: 32px;
    height: 518px;
  }

      .modal {
  max-width: 342px;
  height: 308px;
}

.emojii {
font-size: 68px;
line-height: 70px;
}

.circle {
  width: 100px;
  height: 100px;
  margin-top: 50px;
  position: relative;
}

.emojiiStar {
  font-size: 50px;
  line-height: 70px;
  transform: translateY(6px);
  position: absolute;
}

.title {
  font-size: 20px;
line-height: 20px;
margin-top: 5px;
}
}

@media (min-width: 1440px) {
    .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 335px;
    height: 651px;
  }

    .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0;
  }

       .windowBook {
    width: 100%;
    min-width: 857px;
    max-width: 857px;
    min-height: 651px;
    padding-bottom: 28px;
  }
}