.container {
      display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: stretch;
}



.title {
font-weight: 700;
font-size: 18px;
line-height: 18px;
color: #F9F9F9;
}

.text {
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #686868;
}

.circle {
  margin: 20px auto 0;
width: 80px;
height: 80px;
background: #262626;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

.emojii {
font-weight: 500;
font-size: 32px;
line-height: 32px;
line-height: 1;
transform: translateY(2px);
}