.container {
      display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}