.container {
  display: flex;
  justify-content: center;
  padding: 20px 16px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.form {
  display: flex !important;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  width: 100%;
}

.span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #f9f9f9;
  margin-left: 8px;
}

.input {
  width: 100%;
  height: 44px;
  background: #262626;
  border-radius: 12px;
  border: 1px solid transparent;

  padding: 14px;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.inputAuthor {
  padding-left: 80px;
}

.inputTitle {
  padding-left: 70px;
}

.field {
  position: relative;
  width: 100%;
}

.label {
  position: absolute;
  left: 14px;
  top: 14px;
  pointer-events: none;
  transition: 0.15s ease;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #686868;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.input:focus {
  background: #262626;
}

.input:hover {
  border: 1px solid rgba(249, 249, 249, 0.1);
}

.button {
  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 29px;
  width: 98px;
  height: 38px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-top: 13px;
  white-space: nowrap;
}

.workout {
  width: 295px;
  background: #262626;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin-bottom: 20px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #1f1f1f;
  flex: 0 0 40px;
}

.text {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #686868;
}

.text_span {
  color: #f9f9f9;
}

.under {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #686868;
}
