.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -2%;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #686868;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.recommended {
  width: 100%;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .window {
    max-width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    gap: 20px;
  }
}

@media (min-width: 1440px) {
  .window {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 335px;
    height: 651px;
    padding: 20px;
  }

  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    max-width: 1216px;
    margin: 0 auto;
    padding: 0;
  }
}
