.footer {
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top: 12px;
}

.link {
font-weight: 500;
font-size: 12px;
line-height: 14px;
letter-spacing: -2%;
text-decoration: underline;
text-decoration-style: solid;
color: #686868;
}


.container {
      display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
  .window {
    max-width: 704px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}