.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  padding: 20px 16px;
}

.window {
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
          width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  height: 57px;
      padding: 14px 20px;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle {
    border-radius: 50%;
box-sizing: border-box;

width: 35px;
height: 35px;

background: #262626;
border: 1px solid rgba(249, 249, 249, 0.2);
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 16px;
line-height: 16px;
letter-spacing: -2%;
color: #F9F9F9;
}

.menuButton {
    background-color: transparent;
    border: none;
    cursor: pointer;;
}

.overlay {
      position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  display: flex;
  justify-content: flex-end;
}

.menu {
      width: 60%;
  max-width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  animation: slideIn 0.3s ease forwards;
  gap: 32px;
  background-color: #262626;
}

.link {
    position: relative;
font-weight: 500;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
color: #F9F9F9;
text-decoration: none;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 4px;
  background-color: #4F92F7;
  border-radius: 4px;
}