
.container {
      display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 20px;
letter-spacing: -2%;
color: #F9F9F9;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emojii {
font-weight: 500;
font-size: 50px;
line-height: 1;
display: block;
transform: translateY(7.5px);
}

.circle {
width: 100px;
height: 100px;
background: #262626;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    max-width: 197px;
    margin-bottom: 40px;
}

.text {
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 18px;
letter-spacing: -2%;
text-align: center;
color: #F9F9F9;
}

.span {
    color: #686868;
}

.list {
padding: 0;
}

.wrap {
    position: relative;
}

.button {
padding: 12px 14px;
background-color: transparent;
width: 120px;
height: 40px;
border: 1px solid #3E3E3E;
border-radius: 12px;
border-color: #3E3E3E;
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #F9F9F9;
white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.options {
position: absolute;
top: calc(100% + 4px);
width: 120px;
width: 120px;
height: 113px;;
background: #262626;
border-radius: 12px;
padding: 14px;
}

.option {
font-weight: 500;
font-size: 12px;
line-height: 16px;
color: #686868;
margin-bottom: 7px;
}

.option:hover {
  color: #f9f9f9;
}

.active {
  color: #f9f9f9;
}