.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  align-self: stretch;
}

.window {
  width: 100%;
  max-width: 335px;
  background: #1f1f1f;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emojii {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  display: block;
  transform: translateY(7.5px);
  z-index: 0 !important;
}

.circle {
  width: 100px;
  height: 100px;
  background: #262626;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  max-width: 197px;
  margin-bottom: 40px;
}

.text {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  text-align: center;
  color: #f9f9f9;
}

.span {
  color: #686868;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  row-gap: 20px;
}

.list > .item:only-child {
  grid-column: 1 / -1;
  justify-self: center;
}

.wrap {
  position: relative;
}

.button {
  padding: 12px 14px;
  background-color: transparent;
  width: 120px;
  height: 40px;
  border: 1px solid #3e3e3e;
  border-radius: 12px;
  border-color: #3e3e3e;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #f9f9f9;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  z-index: 0 !important;
  position: relative;
}

.options {
  position: absolute;
  top: calc(100% + 4px);
  width: 120px;
  width: 120px;
  height: 113px;
  background: #262626;
  border-radius: 12px;
  padding: 14px;
  z-index: 0 !important;
}

.option {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #686868;
  margin-bottom: 7px;
}

.option:hover {
  color: #f9f9f9;
}

.active {
  color: #f9f9f9;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 137px;
  width: 100%;
}

.titleItem {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #f9f9f9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 1.2;
  max-height: 1.2em;
}

.bookInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
}

.info {
  display: flex;
  flex-direction: column;
}

.author {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -2%;
  color: #686868;
}

.delete {
  width: 28px;
  height: 28px;
  background: rgba(232, 80, 80, 0.1);
  border: 1px solid rgba(232, 80, 80, 0.2);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  fill: none;
  color: #e85050;
}

.imgButton {
  max-width: 137px;
  border-radius: 12px;
  margin-bottom: 8px;
  height: 208px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.backdrop {
  position: fixed;
  background: #14141499;
  inset: 0;
  z-index: 2147483647;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1f1f1f;
  z-index: 2147483647;
  width: 100%;
  max-width: 335px;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 12px;
  height: 421px;
}

.modalImage {
  width: 140px;
  height: 213px;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
}

.modalContent {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookTitleModal {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -2%;
  color: #f9f9f9;
  margin: 0;
  line-height: 1.2;
  max-height: 1.2em;
  overflow: hidden;
}

.bookAuthor {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -2%;
  color: #686868;
  margin-top: 2px;
  margin-bottom: 0;
}

.pages {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -2%;
  text-align: center;
  color: #f9f9f9;
  margin-top: 4px;
}

.addBookButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 10px;
  border: 1px solid rgba(249, 249, 249, 0.2);
  border-radius: 30px;
  background: transparent;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2%;
  color: #f9f9f9;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .window {
    max-width: 704px;
    padding: 32px;
    min-height: 518px;
  }

  .list > .item:only-child {
    grid-column: 1 / 1;
  }

  .emptyState {
    margin-top: 100px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 27px;
    column-gap: 29px;
  }

  .modal {
    padding: 50px;
    padding-top: 25px;
    max-width: 500px;
    height: 483px;
  }

  .modalImage {
    width: 153px;
    height: 233px;
  }

  .addBookButton {
    margin-top: 32px;
  }
}

@media (min-width: 1440px) {
  .window {
    width: 100%;
    min-width: 857px;
    max-width: 857px;
    min-height: 651px;
    padding-bottom: 28px;
  }

  .list {
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
  }

  .emptyState {
    margin-top: 161px;
  }
}
