.container {
  width: 100%;
}

.window {
  width: 100%;
}

.form {
  display: flex !important;
  flex-direction: column;
  align-items: start;
  gap: 8px;
 max-width: 295px;
  margin-bottom: 20px;
  margin-top: 8px;
  width: 100%;
}

.span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #f9f9f9;
  margin-left: 8px;
}

.input {
  width: 100%;
  max-width: 295px;
  height: 44px;
  background: #262626;
  border-radius: 12px;
  border: 1px solid transparent;

  padding: 14px;
  color: #f9f9f9;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
}

.field {
  position: relative;
  width: 100%;
  max-width: 295px
}

.label {
  position: absolute;
  left: 14px;
  top: 14px;
  pointer-events: none;
  transition: 0.15s ease;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #686868;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
}

.input:focus {
  background: #262626;
}

.inputPages {
  padding-left: 95px;
}
 
.button {
  background-color: transparent;
  border: 1px solid rgba(249, 249, 249, 0.2);
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 29px;
  width: 98px;
  height: 38px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  margin-top: 13px;
  white-space: nowrap;
}


@media (min-width: 768px) {
  .span {
    font-size: 14px;
    line-height: 18px;
  }

  .form {
    margin-bottom: 0;
  }
}